<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Crime Lookup Results - Crime Breach</title>
    <link rel="stylesheet" href="../styles.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="/components/navbar/navbar.js"></script>
</head>
<body>
    <div id="navbar-container"><!-- Navigation bar will be loaded here --></div>
    <main>
        <section class="admin-lookup-results">
            <h2>Crime Lookup: Administrator View</h2>
            <div class="search-results">
                <table class="lengthy-table">
                    <thead>
                        <tr>
                            <th>Crime ID</th>
                            <th>Criminal ID</th>
                            <th>Classification</th>
                            <th>Date Charged</th>
                            <th>Status</th>
                            <th>Crime Hearing Date</th>
                            <th>Appeal Cut Date</th>
                            <th>Officer IDs</th>
                            <th>Appeal ID</th>
                            <th>Filing Date</th>
                            <th>Hearing Date</th>
                            <th>Charge ID</th>
                            <th>Crime Code & Description</th>
                            <th>Charge Status</th>
                            <th>Fine Amount</th>
                            <th>Court Fee</th>
                            <th>Amount Paid</th>
                            <th>Pay Due Date</th>
                            <th>Criminal Alias</th>
                            <th>Criminal First Name</th>
                            <th>Criminal Last Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>213121234</td>
                            <td>793691</td>
                            <td>F</td>
                            <td>2023-09-01</td>
                            <td>IA</td>
                            <td>2023-09-12</td>
                            <td>2023-09-14</td>
                            <td>11223344 22334455</td>
                            <td>11211</td>
                            <td>2023-09-09</td>
                            <td>2023-09-30</td>
                            <td>5675675678</td>
                            <td>111: Murder</td>
                            <td>GL</td>
                            <td>5000112</td>
                            <td>10006.91</td>
                            <td>10006.91</td>
                            <td>2023-11-12</td>
                            <td>N/A</td>
                            <td>Mary</td>
                            <td>Howell</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>
</body>
</html>