<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Officer Lookup Results - Crime Breach</title>
    <link rel="stylesheet" href="../styles.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="/components/navbar/navbar.js"></script>
</head>
<body>
    <div id="navbar-container"><!-- Navigation bar will be loaded here --></div>
    <main>
        <section class="admin-lookup-results">
            <h2>Officer Lookup: Administrator View</h2>
            <div class="search-results">
                <table>
                    <thead>
                        <tr>
                            <th>Officer ID</th>
                            <th>Last</th>
                            <th>First</th>
                            <th>Precinct</th>
                            <th>Badge #</th>
                            <th>Phone</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Example row -->
                        <tr>
                            <td>11223344</td>
                            <td>Fields</td>
                            <td>Brooke</td>
                            <td>NYPD</td>
                            <td>Y67HM90L1</td>
                            <td>1304578901</td>
                            <td>I</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>
</body>
</html>