<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Officer Lookup Results - Crime Breach</title>
    <link rel="stylesheet" href="../styles.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="/components/navbar/navbar.js"></script>
</head>
<body>
    <div id="navbar-container"><!-- Navigation bar will be loaded here --></div>
    <main>
        <section class="admin-lookup-results">
            <h2>Officer Lookup: Administrator View</h2>
            <form id="adminOfficerUpdateForm" action="/admin_update_officer" method="POST">
                <table class="search-results lengthy-table">
                    <thead>
                        <tr>
                            <th>Officer ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Precinct</th>
                            <th>Badge #</th>
                            <th>Phone</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Example row -->
                        <tr>
                            <td><div class="form-field"><input type="text" id="officerID" name="officerID" value="213121234"></div></td>
                            <td><div class="form-field"><input type="text" id="firstName" name="firstName" value="Brooke"></div></td>
                            <td><div class="form-field"><input type="text" id="lastName" name="lastName" value="Fields"></div></td>
                            <td><div class="form-field"><input type="text" id="precinct" name="precinct" value="NYPD"></div></td>
                            <td><div class="form-field"><input type="text" id="badgeID" name="badgeID" value="Y67HM90L1"></div></td>
                            <td><div class="form-field"><input type="text" id="officerPhone" name="officerPhone" value="Y67HM90L1"></div></td>
                            <td><div class="form-field">
                                <select id="officerStatus" name="officerStatus">
                                    <option value="A">Active</option>
                                    <option value="I">Inactive</option>
                                </select>
                            </div></td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <button type="submit" form="adminOfficerUpdateForm" class="btn-submit" name="save" value="idk">Save</button>
        </section>
    </main>
</body>
</html>