<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Public Crime Lookup Results - Crime Breach</title>
    <link rel="stylesheet" href="../styles.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="/components/navbar/navbar.js"></script>
</head>
<body>
    <div id="navbar-container"><!-- Navigation bar will be loaded here --></div>
    <main>
        <section class="public-lookup-results">
            <h2>Crime Lookup: Public View</h2>
            <div class="search-results">
                <table>
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Alias</th>
                            <th>Classification</th>
                            <th>Crime Description</th>
                            <th>Date Charged</th>
                            <th>Status</th>
                            <th>Crime Hearing Date</th>
                            <th>Charge Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Example row -->
                        <tr>
                            <td>John</td>
                            <td>Smith</td>
                            <td>None</td>
                            <td>F</td>
                            <td>111: Murder</td>
                            <td>2023-09-01</td>
                            <td>IA</td>
                            <td>2023-09-12</td>
                            <td>GL</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>
</body>
</html>