<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Criminal Lookup Results - Crime Breach</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href={{ url_for('static', filename='./css/styles.css') }}>
    <script src={{ url_for('static', filename='./js/navbar.js') }}></script>
</head>
<body>
    <div id="navbar-container"><!-- Navigation bar will be loaded here --></div>
    <main>
        <section class="admin-lookup-results">
            <h2>Criminal Lookup: Administrator View</h2>
            <form id="criminalOfficerUpdateForm" action="/admin/criminal_lookup/editable" method="POST">
                <table class="lengthy-table search-results">
                    <thead>
                        <tr>
                            <th>Criminal ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Street</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Zip</th>
                            <th>Phone</th>
                            <th>Violent Offender?</th>
                            <th>On Probation?</th>
                            <th>Aliases</th>
                            <th>Sentences Types</th>
                            <th>Sentences Start Dates</th>
                            <th>Sentences End Dates</th>
                            <th>P.O. ID</th>
                            <th>P.O. Last</th>
                            <th>P.O. First</th>
                            <th>P.O. Street</th>
                            <th>P.O. City</th>
                            <th>P.O. State</th>
                            <th>P.O. Zip</th>
                            <th>P.O. Phone</th>
                            <th>P.O. Email</th>
                            <th>P.O. Status</th>
                            <th>Delete?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Example row -->
                        {% for i in range(data| length) %}
                        <tr>
                            <td><div class="form-field"><input type="text" id="criminalID" name="criminalID" value="793691"></div></td>
                            <td><div class="form-field"></div><input type="text" id="criminalFirstName" name="criminalFirstName" value="b"></div></td>
                            <td><div class="form-field"></div><input type="text" id="criminalLastName" name="criminalLastName" value="b"></div></td>
                            <td><div class="form-field"></div><input type="text" id="criminalStreet" name="criminalStreet" value="b"></div></td>
                            <td><div class="form-field"></div><input type="text" id="criminalCity" name="criminalCity" value="b"></div></td>
                            <td><div class="form-field"></div><input type="text" id="criminalState" name="criminalState" value="b"></div></td>
                            <td><div class="form-field"></div><input type="text" id="criminalZip" name="criminalZip" value="b"></div></td>
                            <td><div class="form-field"></div><input type="text" id="criminalPhone" name="criminalPhone" value="b"></div></td>
                            <td><div class="form-field">
                                <select id="violentOffender" name="violentOffender">
                                    <option value="no">No</option>
                                    <option value="yes">Yes</option>
                                </select>
                            </div></td>
                            <td><div class="form-field">
                                <select id="probation" name="probation">
                                    <option value="no">No</option>
                                    <option value="yes">Yes</option>
                                </select>
                            </div></td>
                            <td><div class="form-field"><input type="text" id="alias" name="alias" value="Alias"></div></td>
                            <td><div class="form-field"><input type="text" id="sentenceTypes" name="sentenceTypes" value="type"></div></td>
                            <td><div class="form-field"><input type="date" id="sentenceStart" name="sentenceStart" value="b"></div></td>
                            <td><div class="form-field"><input type="date" id="sentenceEnd" name="sentenceEnd" value="b"></div></td>
                            <td><div class="form-field"><input type="text" id="poID" name="poID" value="793691"></div></td>
                            <td><div class="form-field"><input type="text" id="poFirstName" name="poFirstName" value="first"></div></td>
                            <td><div class="form-field"><input type="text" id="poLastName" name="poLastName" value="last"></div></td>
                            <td><div class="form-field"><input type="text" id="poStreet" name="poStreet" value="b"></div></td>
                            <td><div class="form-field"><input type="text" id="poCity" name="poCity" value="city"></div></td>
                            <td><div class="form-field"><input type="text" id="poState" name="poState" value="b"></div></td>
                            <td><div class="form-field"><input type="text" id="poZip" name="poZip" value="zip"></div></td>
                            <td><div class="form-field"><input type="text" id="poPhone" name="poPhone" value="b"></div></td>
                            <td><div class="form-field"><input type="text" id="poEmail" name="poEmail" value="b"></div></td>
                            <td><div class="form-field">
                                <label for="poStatus">Probation Officer Status</label>
                                <select id="poStatus" name="poStatus">
                                    <option value="A">Active</option>
                                    <option value="I">Inactive</option>
                                </select>
                            </div></td>
                            <td><input type="button" value="Delete Record" class="btn-submit" onclick="SomeDeleteRowFunction()"></td>
                        </tr>{% endfor %}
                    </tbody>
                </table>
            </form>
            <div class="form-actions"  style="display: inline-block;">
                <button type="submit" form="adminCriminalUpdateForm" class="btn-submit" name="save" value="idk">Save</button>
                <button type="button" onclick="location.href='/admin/criminal_lookup'" class="btn-view">Return to Lookup</button>
            </div>
        </section>
    </main>
</body>
</html>