<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Criminal Lookup Results - Crime Breach</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href={{ url_for('static', filename='./css/styles.css') }}>
    <script src={{ url_for('static', filename='./js/navbar.js') }}></script>
</head>
<body>
    <div id="navbar-container"><!-- Navigation bar will be loaded here --></div>
    <main>
        <section class="admin-lookup-results">
            <h2>Criminal Lookup: Administrator View</h2>
            <form id="criminalDeleteForm" action="/admin/criminal_lookup/delete" method="POST">
                <table class="lengthy-table search-results">
                    <thead>
                        <tr>
                            <th>Criminal ID</th>
                            <th>Last Name</th>
                            <th>First Name</th>
                            <th>Street</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Zip</th>
                            <th>Phone</th>
                            <th>Violent Offender?</th>
                            <th>On Probation?</th>
                            <th>Aliase(es)</th>
                            <th>Sentence(s)</th>
                            <th>Delete?</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in range(data| length) %}
                        <tr>
                            <td><div class="form-field"><input type="text" id="criminalID" name="criminalID-{{i}}" value={{data[i][0]}} readonly></div></td>
                            <td>{{data[i][1]}}</td>
                            <td>{{data[i][2]}}</td>
                            <td>{{data[i][3]}}</td>
                            <td>{{data[i][4]}}</td>
                            <td>{{data[i][5]}}</td>
                            <td>{{data[i][6]}}</td>
                            <td>{{data[i][7]}}</td>
                            <td>{{data[i][8]}}</td>
                            <td>{{data[i][9]}}</td>
                            <td>{% for j in range(aliases[i]| length) %}{% if j == 0 %}{{ aliases[i][j] }}{% else %}, {{ aliases[i][j] }}{% endif %}{% endfor %}</td>
                            <td><div class="form-field">{% for k in range(sentences[i]| length) %}{% if k == 0 %}{% for l in range(sentences[i][k]| length) %}
                                {{ sentenceLabels[l] }}:
                                {{ sentences[i][k][l] }}<br>{% endfor %} {% else %}
                                <br>{% for l in range(sentences[i][k]| length) %}
                                {{ sentenceLabels[l] }}:
                                {{ sentences[i][k][l] }} <br>{% endfor %}{% endif %}{% endfor %} </div></td>
                            <td><input type="submit" name="{{i}}" value="Delete Record" class="btn-submit"></td>
                        </tr>{% endfor %}
                    </tbody>
                </table>
            </form>
            <div class="form-actions"  style="display: inline-block;">
                <button type="button" onclick="location.href='/admin/criminal_lookup'" class="btn-view">Return to Lookup</button>
            </div>
        </section>
    </main>
</body>
</html>
