<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Crime Lookup - Crime Breach</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href={{ url_for('static', filename='./css/styles.css') }}>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src={{ url_for('static', filename='./js/navbar.js') }}></script>
</head>
<body>
    <div id="navbar-container"><!-- Navigation bar will be loaded here --></div>
    <main>
        <section class="search-section">
            <h2>Crime Lookup: Administrator Search</h2>
            <form id="adminCrimeSearchForm" action="/admin/crime_lookup/search" method="GET" class="search-form">
                <div class="form-row">
                    <div class="form-field">
                        <label for="crimeID">Crime ID</label>
                        <input type="text" id="crimeID" name="crimeID" placeholder="E.g. 123456789">
                    </div>
                    <div class="form-field">
                        <label for="criminalID">Criminal ID</label>
                        <input type="text" id="criminalID" name="criminalID" placeholder="E.g. 123456">
                    </div>
                    <div class="form-field">
                        <label for="chargeID">Charge ID</label>
                        <input type="text" id="chargeID" name="chargeID" placeholder="E.g. 1234567890">
                    </div>
                    <!-- <div class="form-field">
                        <label for="coID">Crime Officer ID</label>
                        <input type="text" id="coID" name="coID" placeholder="E.g. 12345">
                    </div>
                    <div class="form-field">
                        <label for="appID">Appeal ID</label>
                        <input type="text" id="appID" name="appID" placeholder="E.g. 12345">
                    </div> -->
                </div>
                <br>
                <p><b>OR</b></p>
                <br>
                <div class="form-row">
                    <div class="form-field">
                        <label for="crimeStatus">Status</label>
                        <select id="crimeStatus" name="crimeStatus">
                            <option value="">Select</option>
                            <option value="CL">CL</option>
                            <option value="CA">CA</option>
                            <option value="IA">IA</option>
                        </select>
                    </div>
                    <div class="form-field">
                        <label for="classification">Classification</label>
                        <select id="classification" name="classification">
                            <option value="">Select</option>
                            <option value="F">Felony</option>
                            <option value="M">Misdemeanor</option>
                            <option value="O">Other</option>
                            <option value="U">Undefined</option>
                        </select>
                    </div>
                    <div class="form-field">
                        <label for="chargeStatus">Charge Status</label>
                        <select id="chargeStatus" name="chargeStatus">
                            <option value="">Select</option>
                            <option value="PD">Pending</option>
                            <option value="GL">Guilty</option>
                            <option value="NG">Not Guilty</option>
                        </select>
                    </div>
                    <div class="form-field">
                        <label for="crimeCode">Crime Code</label>
                        <input type="text" id="crimeCode" name="crimeCode" placeholder="E.g. 123">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-field">
                        <label for="hearingDate">Hearing Date</label>
                        <input type="date" id="hearingDate" name="hearingDate">
                    </div>
                    <div class="form-field">
                        <label for="appealCutOffDate">Appeal Cut Off Date</label>
                        <input type="date" id="appealCutOffDate" name="appealCutOffDate">
                    </div>
                    <div class="form-field">
                        <label for="dateCharged">Date Charged</label>
                        <input type="date" id="dateCharged" name="dateCharged">
                    </div>
                    <!-- <div class="form-field">
                        <label for="filingDate">Filing Date</label>
                        <input type="date" id="filingDate" name="filingDate">
                    </div> -->
                </div>
                <!-- <div class="form-row">
                    <div class="form-field">
                        <label for="coFirstName">Crime Officer First Name</label>
                        <input type="text" id="coFirstName" name="coFirstName" placeholder="E.g. John">
                    </div>
                    <div class="form-field">
                        <label for="coLastName">Crime Officer Last Name</label>
                        <input type="text" id="coLastName" name="coLastName" placeholder="E.g. Smith">
                    </div>
                    <div class="form-field">
                        <label for="coStatus">Crime Officer Status</label>
                        <select id="coStatus" name="coStatus">
                            <option value="A">Active</option>
                            <option value="I">Inactive</option>
                        </select>
                    </div>
                </div> -->
                <div class="form-actions">
                    <button type="submit" class="btn-submit">View Results</button>
                    <button type="submit" class="btn-view">View All Records</button>
                </div>
            </form>
        </section>
    </main>
</body>
</html>
