<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Officer Lookup Results - Crime Breach</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href={{ url_for('static', filename='./css/styles.css') }}>
    <script src={{ url_for('static', filename='./js/navbar.js') }}></script>
</head>
<body>
    <div id="navbar-container"><!-- Navigation bar will be loaded here --></div>
    <main>
        <section class="admin-lookup-results">
            <h2>Officer Lookup: Administrator View</h2>
            <form id="adminOfficerUpdateForm"
                action="/admin/officer_lookup/update", method="POST">
                <table class="search-results lengthy-table">
                    <thead>
                        <tr>
                            <th>Officer ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Precinct</th>
                            <th>Badge #</th>
                            <th>Phone</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in range(data| length) %}
                        <tr>
                            <td><div class="form-field"><input type="text"
                                                               id="officerID"
                                                               name="officerID-{{ i }}"
                                                               value="{{
                                                               data[i][0] }}"></div></td>
                            <td><div class="form-field"><input type="text"
                                                               id="firstName"
                                                               name="firstName-{{ i }}"
                                                               value="{{
                                                                      data[i][1]
                                                                      }}"></div></td>
                            <td><div class="form-field"><input type="text"
                                                               id="lastName"
                                                               name="lastName-{{ i }}"
                                                               value="{{
                                                               data[i][2] }}"></div></td>
                            <td><div class="form-field"><input type="text"
                                                               id="precinct"
                                                               name="precinct-{{ i }}"
                                                               value="{{
                                                               data[i][3] }}"></div></td>
                            <td><div class="form-field"><input type="text"
                                                               id="badgeID"
                                                               name="badgeID-{{ i }}"
                                                               value="{{data[i][4]
                                                               }}"></div></td>
                            <td><div class="form-field"><input type="text"
                                    id="officerPhone" name="officerPhone-{{ i }}"
                                                      value="{{ data[i][5] }}"></div></td>
                            <td><div class="form-field">
                                    <select id="officerStatus" name="officerStatus-{{ i }}">
                                    <option value="A" {% if data[i][6] == 'A' %}selected="selected" {% endif %}>Active</option>
                                    <option value="I" {% if data[i][6] == 'I' %}selected="selected" {% endif %}>Inactive</option>
                                </select>
                            </div></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
            <div class="form-actions"  style="display: inline-block;">
                <button type="submit" form="adminOfficerUpdateForm" class="btn-submit" name="save" value="{{ data| length }}">Save</button>
                <button type="button" onclick="location.href='/admin/officer_lookup'" class="btn-view">Return to Lookup</button>
                <button type="button" onclick="location.href='/download_query'"class="btn-submit" name="save">Export</button>
            </div>
        </section>
    </main>
</body>
</html>
