<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Crime Lookup Results - Crime Breach</title>
    <link rel="stylesheet" href="../styles.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="/components/navbar/navbar.js"></script>
    <link rel="stylesheet" href={{ url_for('static', filename='./css/styles.css') }}>
    <script src={{ url_for('static', filename='./js/navbar.js') }}></script>
</head>
<body>
    <div id="navbar-container"><!-- Navigation bar will be loaded here --></div>
    <main>
        <section class="admin-lookup-results">
            <h2>Crime Lookup: Administrator View</h2>
            <form id="adminCrimeUpdateForm" action="/admin_update_crime" method="POST">
                <table class="search-results lengthy-table">
                    <thead>
                        <tr>
                            <th>Crime ID</th>
                            <th>Criminal ID</th>
                            <th>Classification</th>
                            <th>Date Charged</th>
                            <th>Status</th>
                            <th>Crime Hearing Date</th>
                            <th>Appeal Cut Date</th>
                            <th>Officer IDs</th>
                            <th>Appeal ID</th>
                            <th>Filing Date</th>
                            <th>Hearing Date</th>
                            <th>Charge ID</th>
                            <th>Crime Code & Description</th>
                            <th>Charge Status</th>
                            <th>Fine Amount</th>
                            <th>Court Fee</th>
                            <th>Amount Paid</th>
                            <th>Pay Due Date</th>
                            <th>Criminal First Name</th>
                            <th>Criminal Last Name</th>
                            <th>Criminal Alias</th>
                            <th>Delete?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- editable row, replace value with value pulled from db -->
                        {% for i in range(data| length) %}
                        <tr>
                            <td><div class="form-field"><input type="text" id="crimeID" name="crimeID" value="213121234"></div></td>
                            <td><div class="form-field"><input type="text" id="criminalID" name="criminalID" value="793691"></div></td>
                            <td><div class="form-field"><input type="text" id="classification" name="classification" value="F"></div></td>
                            <td><div class="form-field"><input type="date" id="dateCharged" name="dateCharged" value="2023-09-01"></div></td>
                            <td><div class="form-field"><select type="select" id="crimeStatus" name="crimeStatus" value="IA"><option value="CL">CL</option><option value="CA">CA</option><option value="IA">IA</option></div></td>
                            <td><div class="form-field"><input type="date" id="hearingDate" name="hearingDate" value="b"></div></td>
                            <td><div class="form-field"><input type="date" id="appealCutOffDate" name="appealCutOffDate" value="b"></div></td>
                            <td><div class="form-field"></div><input type="text" id="coID" name="coID" value="b"></div></td>
                            <td><div class="form-field"></div><input type="text" id="appID" name="appID" value="12345"></div></td>
                            <td><div class="form-field"></div><input type="date" id="filingDate" name="filingDate" value="2023-09-09"></div></td>
                            <td><div class="form-field"></div><input type="date" id="hearingDate" name="hearingDate" value="2023-09-30"></div></td>
                            <td><div class="form-field"></div><input type="text" id="chargeID" name="chargeID" value="1234567890"></div></td>
                            <td><div class="form-field"></div><input type="text" id="crimeCode" name="crimeCode" value="123"></div></td>
                            <td><div class="form-field"></div><select id="chargeStatus" name="chargeStatus">
                                <option value="PD">Pending</option>
                                <option value="GL">Guilty</option>
                                <option value="NG">Not Guilty</option>
                            </select></div></td>
                            <td><div class="form-field"></div><input type="text" id="fineAmount" name="fineAmount" value="230.99"></div></td>
                            <td><div class="form-field"></div><input type="text" id="courtFee" name="courtFee" value="230.99"></div></td>
                            <td><div class="form-field"></div><input type="text" id="amountPaid" name="amountPaid" value="230.99"></div></td>
                            <td><div class="form-field"></div><input type="date" id="payDueDate" name="payDueDate" value="2023-10-30"></div></td>
                            <td><div class="form-field"></div><input type="text" id="criminalFirstName" name="criminalFirstName" value="b"></div></td>
                            <td><div class="form-field"></div><input type="text" id="criminalLastName" name="criminalLastName" value="b"></div></td>
                            <td><div class="form-field"></div><input type="text" id="criminalAlias" name="criminalAlias" value="b"></div></td>
                            <td><input type="button" value="Delete Record" class="btn-submit" onclick="SomeDeleteRowFunction()"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
            <div class="form-actions"  style="display: inline-block;">
                <button type="submit" form="adminCrimeUpdateForm" class="btn-submit" name="save" value="idk">Save</button>
                <button type="button" onclick="location.href='/admin/crime_lookup'" class="btn-view">Return to Lookup</button>
            </div>
        </section>
    </main>
</body>
</html>
