<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Crime Breach</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href={{ url_for('static', filename='./css/styles.css') }}>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src={{ url_for('static', filename='./js/navbar.js') }}></script>
</head>
<body>
    <div id="navbar-container"><!-- Navigation bar will be loaded here --></div>
    <main>
        <h2>Admin Home: Welcome {{name}}!</h2>
        <div>
            <section class="home-section">
                <h3 class="space-h3">Update the City Jail Database</h3>
                <form id="crimeUpdateForm" action="/admin/crime_lookup/add" method="POST">
                    <table class="search-results lengthy-table">
                        <thead>
                            <tr>
                                <th>Crime ID</th>
                                <th>Criminal ID</th>
                                <th>Classification</th>
                                <th>Date Charged</th>
                                <th>Status</th>
                                <th>Crime Hearing Date</th>
                                <th>Appeal Cut Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><div class="form-field"><input type="text"
                                        id="crimeID" name="crimeID" value=""
                                                                    required
                                                                    pattern="[0-9]{1,
                                                                              9}"
                                        size="9" maxlength="9"></div></td>
                                <td><div class="form-field"><input type="text"
                                        id="criminalID" name="criminalID"
                                                        value="" required
                                                        pattern="[0-9]{1, 6}"
                                        size="6" maxlength="6"></div></td>
                                <td><div class="form-field">
                                        <select id="classification"
                                            name="classification" required>
                                            <option value="">Select</option>
                                            <option value="F">Felony</option>
                                            <option value="M">Misdemeanor</option>
                                            <option value="O">Other</option>
                                            <option value="U">Undefined</option>
                                        </select>
                                        </div></td>
                                <td><div class="form-field"><input type="date"
                                        id="dateCharged" name="dateCharged"
                                        value="" required></div></td>
                                <td><div class="form-field"><select
                                            type="select" id="crimeStatus"
                                            name="crimeStatus" required>
                                    <option value="">Select</option>
                                    <option value="CL" >CL</option>
                                    <option value="CA" >CA</option>
                                    <option value="IA" >IA</option></div></td>
                                <td><div class="form-field"><input type="date"
                                        id="hearingDate" name="hearingDate"
                                        value="" required></div></td>
                                <td><div class="form-field"><input type="date"
                                        id="appealCutOffDate"
                                        name="appealCutOffDate" value=""
                                        required></div></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
                <div style="display: inline-block; margin-bottom: 30px;">
                    <button type="submit" form="crimeUpdateForm" class="btn-submit">Add Crime</button>
                </div>
                <form id="criminalUpdateForm" action="/admin/criminal_lookup/add" method="POST">
                    <table class="lengthy-table search-results">
                        <thead>
                            <tr>
                                <th>Criminal ID</th>
                                <th>Last Name</th>
                                <th>First Name</th>
                                <th>Street</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Zip</th>
                                <th>Phone</th>
                                <th>Violent Offender?</th>
                                <th>On Probation?</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><div class="form-field"><input type="text"
                                        id="criminalID" name="criminalID"
                                                        value="" required
                                                        pattern="[0-9]{1,6}"
                                        size="6" maxlength="6"></div></td>
                                <td><div class="form-field"></div><input
                                    type="text" id="criminalFirstName"
                                    name="criminalFirstName" value="" required
                                                             pattern="[A-z]{1,10}" size="10" maxlength="10"></div></td>
                                <td><div class="form-field"></div><input
                                    type="text" id="criminalLastName"
                                    name="criminalLastName" value="" required
                                                             pattern="[A-z]{1,15}" size="15" maxlength="15"></div></td>
                                <td><div class="form-field"></div><input
                                                type="text" id="criminalStreet"
                                                name="criminalStreet" value=""
                                                required
                                                pattern="[A-z0-9. ]{1,30}"
                                                size="30" maxlength="30"></div></td>
                                <td><div class="form-field"></div><input type="text" id="criminalCity" name="criminalCity" value="" required pattern="[A-z]{1,20}" size="20" maxlength="20"></div></td>
                                <td><div class="form-field"></div><input
                                    type="text" id="criminalState"
                                    name="criminalState" value="" required
                            pattern="[A-Z]{2}" size="2" maxlength="2"></div></td>
                                <td><div class="form-field"></div><input type="text" id="criminalZip" name="criminalZip" value="" required
                            pattern="[0-9]{5}" size="5" maxlength="5"></div></td>
                                <td><div class="form-field"></div><input type="text" id="criminalPhone" name="criminalPhone" value="" required
                            pattern="[0-9]{10}" size="10" maxlength="10"></div></td>
                                <td><div class="form-field">
                                    <select id="violentOffender"
                                        name="violentOffender" required>
                                        <option value="">Select</option>
                                        <option value="N">No</option>
                                        <option value="Y">Yes</option>
                                    </select>
                                </div></td>
                                <td><div class="form-field">
                                    <select id="probation" name="probation"
                                        required>
                                        <option value="">Select</option>
                                        <option value="N">No</option>
                                        <option value="Y">Yes</option>
                                    </select>
                                </div></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
                <div style="display: inline-block; margin-bottom: 30px;">
                    <button type="submit" form="criminalUpdateForm" class="btn-submit">Add Criminal</button>
                </div>
            <form id="officerUpdateForm" action="/admin/officer_lookup/add", method="POST">
                <table class="search-results lengthy-table">
                    <thead>
                        <tr>
                            <th>Officer ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Precinct</th>
                            <th>Badge #</th>
                            <th>Phone</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><div class="form-field"><input type="text"
                                                               id="officerID"
                                                               name="officerID"
                                                               value="" required
                                                        pattern="[0-9]{1,8}"
                                        size="8" maxlength="8"></div></td>
                            <td><div class="form-field"><input type="text"
                                                               id="firstName"
                                                               name="firstName"
                                                               value="" required
                                                             pattern="[A-z]{1,10}" size="10" maxlength="10"></div></td>
                            <td><div class="form-field"><input type="text"
                                                               id="lastName"
                                                               name="lastName"
                                                               value="" required
                                                             pattern="[A-z]{1,15}" size="15" maxlength="15"></div></td>
                            <td><div class="form-field"><input type="text"
                                                               id="precinct"
                                                               name="precinct"
                                                               value="" required
                                                             pattern="[A-z0-9]{4}"
                                                             size="4"
                                                             maxlength="4"></div></td>
                            <td><div class="form-field"><input type="text"
                                                               id="badgeID"
                                                               name="badgeID"
                                                               value="" required
                                                               pattern="[A-z0-9]{1,14}"
                                                               size="14"
                                                               maxlength="14"></div></td>
                            <td><div class="form-field"><input type="text"
                                    id="officerPhone" name="officerPhone"
                                                      value="" required
                            pattern="[0-9]{10}" size="10" maxlength="10"></div></td>
                            <td><div class="form-field">
                                    <select id="officerStatus"
                                        name="officerStatus" required >
                                        <option value="">Select</option>
                                        <option value="A">Active</option>
                                        <option value="I">Inactive</option>
                                </select>
                            </div></td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <div style="margin-bottom: 30px; display: inline-block;">
                <button type="submit" form="officerUpdateForm" class="btn-submit">Add Officer</button>
            </div>
            </section>
            <section class="home-section">
                <h3 class="space-h3">Account</h3>
                <!-- <div class="form-field">
                    <label for="password">Create New Password</label>
                    <input type="password" id="password" name="password" placeholder="Password">
                    <button type="button" onclick="location.href='/new_pass' "class="btn-submit">Submit</button>
                </div> -->
                    <div>
                        <button type="button" onclick="location.href='/sign_out' "class="btn-submit">Sign Out</button>
                    </div>
            </section>
        </div>
    </main>
</body>
</html>
