<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in - Crime Breach</title>
    <link rel="stylesheet" href={{ url_for('static', filename='./css/styles.css') }}>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src={{ url_for('static', filename='./js/navbar.js') }}></script>
</head>
<body>
    <div id="navbar-container"><!-- Navigation bar will be loaded here --></div>
    <main>
        <section class="signin-section">
            <form id="signinForm" action="/signin" method="POST" class="signin-form">
                <div class="form-field">
                    <label for="userID">User ID</label>
                    <input type="text" id="userID" name="userID" placeholder="E.g. skb5278">
                </div>
                <div class="form-field">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Password">
                </div>
                <div class="form-actions">
                    <a href="/continue_without_signin" class="link-continue">Continue without signing in</a>
                    <button type="submit" class="btn-signin">Sign in</button>
                </div>
            </form>
        </section>
    </main>
</body>
</html>
